<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New suggestion for #{suggestion.person_name}'s response plan</h1>
    <div>
      Submitted at <%= l @suggestion.created_at %>
      by <%= @suggestion.officer.name %>.
    </div>

    <div>
      <%= simple_format @suggestion.body %>
    </div>
  </body>
</html>
