<div class="page-title-actions">
  <% if person.draft %>
    <%= t("people.show.draft.exists", name: person.first_name) %>
    <%= link_to t("people.show.draft.show"), draft_path(person.draft) %>
  <% elsif plan %>
    <%= link_to(
      t("people.show.draft.new"),
      drafts_path(person_id: person.id),
      method: :post,
    ) %>
  <% else %>
    <%= link_to(
      t("people.show.new_plan"),
      drafts_path(person_id: person.id),
      method: :post,
    ) %>
  <% end %>
</div>
