<%= link_to people_path, class: "header" do %>
  <div class="header-content">
    <span class="menu-title"><%= content_for(:header) %></span>

    <%= image_tag "hamburger_menu.svg", class: "menu-icon" %>
  </div>
<% end %>
