<div class="header">
  <div class="left-column">
    <%= link_to people_path do %>
      <img src="http://latimesblogs.latimes.com/.a/6a00d8341c630a53ef014e8a383043970d-300wi" />
      Seattle Police Department
    <% end %>
  </div>

  <div class="right-column">
    <span class="red">Confidential</span>
    (Police Use Only)
  </div>
</div>
