<div class="person-card">
  <%= image_tag person.profile_image_url %>

  <div class="person-card-labels">
    <%= render "identity", person: person %>
    <div class="description"><%= person.shorthand_description %></div>
  </div>
</div>
