<div class="search-results">
  <h1>Matches</h1>

  <section class="people">
    <% @people.each do |person| %>
      <%= render person, link: person_path(person) %>
    <% end %>

    <% if @people.none? %>
      <%= t("search.results.none") %>
    <% end %>
  </section>
</div>
