<p id="notice"><%= notice %></p>

<form class="search">
  <label for="name">Search by Name</label>
  <input
    type="text"
    name="name"
    placeholder="Search"
    aria-label="Search"
  />
  <span class="search__hint">
    Press enter to search
  </span>
</form>
