<section class="sign_in">
  <div class="section-header">
    <div class="section-header-text">
      <h2>Log in</h2>
    </div>
  </div>

  <div class="section-body">
    <%= simple_form_for(sign_in, url: authentication_path) do |f| %>
      <div class="form-inputs">
        <%= f.input :username, required: false, autofocus: true %>
        <%= f.input :password, required: false %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, t("authentication.sign_in.link") %>
      </div>
    <% end %>
  </div>
</section>
