table {
  border-collapse: collapse;
  font-feature-settings: "kern", "liga", "tnum";
  width: 100%;
}

th {
  border-bottom: 1px solid $table-header-border-color;
  font-weight: 600;
  padding: $small-spacing 0;
  text-align: left;
}

td {
  border-bottom: $base-border;
  padding: $small-spacing 0;
}

th,
td {
  &:first-child {
    padding-left: $base-spacing;
  }
}

tr,
td,
th {
  vertical-align: middle;
}
