.about {
  .about-label {
    @include light-font;
    color: $secondary-text-color;
    margin-top: $small-spacing;
    overflow: hidden;
  }

  .approver-name,
  .author-name,
  .author-unit,
  .created-date {
    margin-left: $base-spacing;
  }

  .author-name,
  .created-date {
    @include heavy-font;
    font-size: 1.2em;
  }
}

.right-column .about {
  display: block;

  @include media($medium-screen-up) {
    display: none;
  }
}

.left-column .about {
  display: none;

  @include media($medium-screen-up) {
    display: block;
  }
}
