.about {
  .section-header {
    background-color: $secondary-section-header-background;
  }

  .about-author,
  .about-questions,
  .about-approver {
    margin-bottom: $base-spacing;
    overflow: hidden;
  }

  .author-label,
  .approver-label,
  .questions-label {
    @include heavy-font;
  }

  .author-info,
  .approver-info,
  .questions-info {
    @include light-font;
    margin-left: $small-spacing;
  }
}

.right-column .about {
  display: block;

  @include media($medium-screen-up) {
    display: none;
  }
}

.left-column .about {
  display: none;

  @include media($medium-screen-up) {
    display: block;
  }
}
