.about {
  .section-header {
    background-color: $medium-gray;
  }

  .about-author {
    margin-bottom: $base-spacing;
    overflow: hidden;
  }

  .author-label,
  .approver-label {
    @include heavy-font;
  }

  .author-info,
  .approver-info {
    @include light-font;
    margin-left: $small-spacing;
  }
}

.right-column .about {
  display: block;

  @include media($medium-screen-up) {
    display: none;
  }
}

.left-column .about {
  display: none;

  @include media($medium-screen-up) {
    display: block;
  }
}
