.profile-contact {
  @include media($medium-screen-up) {
    @include span-columns(4 of 12);

    &:nth-child(3n) {
      @include omega;
    }
  }
}

.contact-name {
  @include heavy-font;
}

.contact-relationship,
.contact-organization {
  @include light-font;
  color: $secondary-text-color;
}

.contact-notes {
  @include light-font;
  margin-top: $small-spacing;
  opacity: 50%;
  color: $contact-notes-color;
}

.contact-notes-label {
  font-weight: 400;
  color: $base-font-color;
}

.contact-cell {
  border-top: $base-border;
  text-align: right;

  svg {
    vertical-align: text-bottom;
    height: 1.3em;
  }
}
