.contact {
  @include span-columns(4 of 8);
  margin-bottom: $base-spacing;

  &:nth-child(2n) {
    @include omega;
  }
}

.contact-name {
  @include heavy-font;
  margin-bottom: $small-spacing;
}

.contact-notes {
  @include light-font;
  margin-top: $small-spacing;
  opacity: 50%;
  color: $contact-notes-color;
}

.contact-notes-label {
  font-weight: 400;
  color: $base-font-color;
}
