.profile-images {
  .focused-image {
    width: 100%;
    display: block;
  }

  .image-scroller {
    text-align: center;
  }

  .image-text {
    display: inline-block;
    font-size: 0.8em;
    color: $secondary-text-color;
  }

  .image-scroll-arrow {
    display: inline-block;
    height: 2em;

    &:hover {
      cursor: pointer;
    }

    &[data-direction='prev'] {
      float: left;
    }

    &[data-direction='next'] {
      float: right;
    }
  }

  .image-thumbnails {
    display: flex;
    justify-content: center;
    margin-top: $small-spacing;
    text-align: center;
  }

  .image-thumbnail {
    border: $dark-border;
    flex: 0 0 auto;
    height: 3em;
    width: auto;

    &-focused {
      border: $selected-border;
    }
  }
}
