.physical {
  span {
    display: block;
  }

  .shorthand-description {
    @include heavy-font;
  }

  .eye-color-icon,
  .hair-color-icon {
    width: $base-spacing;
    margin-right: $small-spacing;
  }

  .eye-color-icon {
    transform: translateY(0.2rem);
  }

  .hair-color-icon {
    transform: translateY(0.5rem);
  }
}
