.physical {
  span {
    display: block;
  }

  img {
    width: $base-spacing;
    margin-right: $small-spacing;
  }

  .shorthand-description {
    @include heavy-font;
  }

  .section-body img {
    width: $base-spacing;
    margin-right: $small-spacing;
  }

  .hair-color img {
    transform: translateY(0.5rem);
  }

  .eye-color img {
    transform: translateY(0.2rem);
  }
}
