.profile-safety-concerns {
  @include span-columns(4 of 8);
  @include omega;
}

.concern-category {
  border-bottom: $dashed-border;
  margin-bottom: $small-spacing;

  &:last-child {
    border-bottom: 0;
  }

  &-header {
    @include heavy-font;
    display: block;
    text-transform: uppercase;
  }
}

.concern {
  margin-bottom: $small-spacing;

  .concern-description,
  .concern-date {
    @include light-font;
    display: block;
  }

  .concern-date {
    color: $secondary-text-color;
    font-size: 0.8em;
  }
}

.trigger {
  margin-bottom: $small-spacing;

  &-title,
  &-description {
    display: block;
  }

  &-title {
    @include heavy-font;
  }

  &-description {
    @include light-font;
  }
}

.safety-concerns-empty,
.triggers-empty {
  a,
  span {
    @include light-font;
    display: block;
    margin-bottom: $tiny-spacing;
    text-align: center;
  }
}
