.profile-safety-concerns {
  @include span-columns(4 of 8);
  @include omega;
}

.concern-category-header {
  @include heavy-font;
  display: block;
  text-transform: uppercase;
}

.concern-description {
  @include light-font;
}

.concern-date {
  @include light-font;
  color: $secondary-text-color;
}
