.safety-concerns {
  .safety-concern-icons {
    @include span-columns(1 of 4);
    text-align: center;

    img {
      @include fill-parent;
    }

    .physical-threat-icon {
      display: inline-block;
      padding: 0 $small-spacing;
      background-color: $action-color;
      color: $card-background;
    }
  }

  ul {
    @include span-columns(3 of 4);
    list-style: inside;
  }

  @include media($medium-screen-up) {
    .safety-concern-icons {
      @include span-columns(1 of 8);
    }

    ul {
      @include span-columns(3 of 8);
    }
  }
}
