<section class="about">
  <div class="section-header section-header-muted">
    <div class="section-header-text">
      <span class="section-title">About the Plan</span>
    </div>
  </div>

  <div class="section-body">
    <div class="about-questions">
      <div class="questions-label">For questions, contact</div>
      <div class="questions-info">
        <div>Crisis Response Unit</div>
        <div><%= tel_to "206-615-0226" %></div>
      </div>
    </div>

    <div class="about-author">
      <div class="author-label">Prepared By</div>
      <div class="author-info">
        <div><%= @response_plan.author.name %></div>
      </div>
    </div>

    <div class="about-approver">
      <div class="approver-label">Approved By</div>
      <div class="approver-info">
        <div><%= @response_plan.approver.name %></div>
      </div>
    </div>
  </div>
</section>
