<% if plan.background_info.present? %>
  <section class="profile-background-info">
    <div class="section-header section-header-blue">
      <%= inline_svg "section-icons/background.svg", class: "section-icon" %>

      <div class="section-header-text">
        <span class="section-title">Background Information</span>
      </div>
    </div>

    <div class="section-body">
      <%= simple_format plan.background_info %>
    </div>
  </section>
<% end %>
