<% if plan.deescalation_techniques.any? %>
  <section class="deescalation-techniques">

    <div class="section-header section-header-muted">
      <div class="section-header-text">
        <span class="section-title">De-escalation Techniques</span>
      </div>
    </div>

    <div class="section-body">
      <ul>
        <% plan.deescalation_techniques.each do |technique| %>
          <li><%= technique.description %></li>
        <% end %>
      </ul>
    </div>
  </section>
<% end %>
