<section class="horsepower">
  <div class="section-header">
    <%= image_tag("section-icons/response-plan.svg", class: "section-icon") %>
    <div class="section-header-text">
      <h2 class="section-title">Physical</h2>
    </div>
  </div>

  <div class="section-body">
    <%= render "biometrics", plan: @plan %>
  </div>
</section>
