<% if person.recent_incidents.any? %>
  <section class="profile-incidents">
    <div class="section-header section-header-muted">
      <div class="section-header-text">
        <span class="section-title">Incident History</span>
      </div>
    </div>

    <div class="section-body">
      <h2>Police Interactions</h2>

      <div class="incidents-container collapsed">
        <% person.recent_incidents.first(6).each do |incident| %>
          <%= render "incident_summary", incident: incident %>
        <% end %>
      </div>

      <% if person.recent_incidents.count > 3 %>
        <a
          href="#"
          class="toggle additional-incidents-toggle"
          data-toggle-target=".incidents-container"
          data-toggle-text="Hide older crisis calls"
          >
          View older crisis calls
        </a>
      <% end %>
    </div>

    <%= render "sections/charts_for_timeframe", person: person, timeframe: 2.years, html_class: nil %>
    <%= render "sections/charts_for_timeframe", person: person, timeframe: 3.months, html_class: "collapsed" %>
  </section>
<% end %>
