<% if person.location_address.present? %>
  <section
    class="profile-location"
    data-address="<%= person.location_address %>"
    >
    <div class="section-header section-header-muted">
      <div class="section-header-text">
        <span class="section-title">Address</span>
      </div>
    </div>

    <div class="section-body">
      <span class="location-name">
        <%= person.location_name %>
      </span>

      <span class="location-address">
        <span class="location-address-line-one">
          <%= person.address_line_one %>
        </span>

        <span class="location-address-line-two">
          <%= person.address_line_two %>
        </span>
      </span>
    </div>

    <div class="location-map">
      <div class="map-controls section-body">
        <span class="zoom zoom-out"></span>
        <span class="zoom zoom-in"></span>
      </div>

      <div class="location-map-canvas"></div>
    </div>

    <a
      href="#"
      class="section-body toggle"
      data-toggle-text="Map &and;"
      data-toggle-target=".location-map"
      >
      Map &or;
    </a>
  </section>
<% end %>
