<section class="officer-safety">
  <div class="section-header">
    <%= image_tag("section-icons/response-plan.svg", class: "section-icon") %>
    <div class="section-header-text">
      <h2 class="section-title">Officer Safety</h2>
    </div>
  </div>

  <div class="section-body">
    <% if @person.safety_warnings.none? %>
      <%= t("response_plan.safety.none") %>
    <% else %>
      <% @person.safety_warnings.each do |warning| %>
        <%= @person.send(warning) %>
      <% end %>
    <% end %>
  </div>
</section>
