<section class="response-plan">
  <div class="section-header">
    <%= image_tag("section-icons/response-plan.svg", class: "section-icon") %>
    <div class="section-header-text">
      <h2 class="section-title">Response Plan</h2>
    </div>
  </div>

  <div class="section-body">
    <% @response_plan.response_strategies.each do |strategy| %>
      <div class="response-strategy mobile-collapsed">
        <h3><%= strategy.title %></h3>
        <p><%= strategy.description %></p>
        <a href="#" class="expand" data-text-swap="Hide">Read More</a>
      </div>
    <% end %>
  </div>
</section>
