<section class="safety-warnings">
  <div class="section-header">
    <%= image_tag("section-icons/safety_warnings.svg", class: "section-icon") %>
    <div class="section-header-text">
      <span class="section-title">Officer Safety</span>
    </div>
  </div>

  <div class="section-body">
    <p>Officer safety information is still under development.</p>

    <p>
    For information about <%= @response_plan.person.first_name %>,
    please see the <strong>Response Plan</strong> section below.
    </p>
  </div>
</section>
