<%# TODO
  refactor this into a `Profile` model
  that knows how to display a person,
  whether they have a response plan or not.
%>

<% if response_plan %>

    <%# The response plan is approved and visible to all officers %>

    <section class="page-title">
      <h1 class="section-title">Response Plan</h1>

      <span class="page-title-action">
        <%= link_to(
          t("response_plans.draft.new"),
          response_plans_path(person_id: person.id),
          method: :post,
        ) %>
      </span>
    </section>

<% else %>
  <%# No response plan, just a core profile %>

  <section class="page-title">
    <h1 class="section-title">Basic Profile</h1>

    <span class="page-title-action">
      <%= link_to(
        t("response_plans.new.action"),
        response_plans_path(person_id: person.id),
        method: :post,
      ) %>
    </span>
  </section>
<% end %>
