<% if response_plan %>

    <section class="page-title">
      <h1 class="section-title">Response Plan</h1>

      <span class="page-title-action">
        <%= link_to(
          t("response_plans.draft.new"),
          drafts_path(person_id: person.id),
          method: :post,
        ) %>
      </span>
    </section>

<% else %>

  <section class="page-title">
    <h1 class="section-title">Basic Profile</h1>

    <span class="page-title-action">
      <%= link_to(
        t("response_plans.new.action"),
        drafts_path(person_id: person.id),
        method: :post,
      ) %>
    </span>
  </section>
<% end %>
