<% if @response_plan.triggers.any? %>
  <section class="triggers">

    <div class="section-header section-header-muted">
      <div class="section-header-text">
        <span class="section-title">Triggers</span>
      </div>
    </div>

    <div class="section-body">
      <ul>
        <% @response_plan.triggers.each do |trigger| %>
          <li><%= trigger.description %></li>
        <% end %>
      </ul>
    </div>
  </section>
<% end %>
