<div class="description">
  <%= t("submissions.show.description") %>
</div>

<div class="page-title-actions">
  <%= link_to(
    t("submissions.show.approve"),
    approve_submission_path(plan),
    method: :patch,
  ) %>
  <br/>
  or
  <%= link_to(
    t("submissions.show.destroy"),
    submission_path(plan),
    method: :delete,
  ) %>.
</div>
