<div class="description">
  <%= t("submissions.show.description") %>
</div>

<div class="page-title-actions">
  <% if current_officer.owner? %>
    <%= link_to(
      t("submissions.show.approve"),
      approve_submission_path(plan),
      method: :patch,
    ) %>

    <br/>
    or
  <% end %>

  <%= link_to(
    t("submissions.show.destroy"),
    submission_path(plan),
    method: :delete,
  ) %>.
</div>
