<section class="page-title section-notice">
  <h1 class="section-title">
    <%= t("submissions.show.title") %>
  </h1>

  <div class="description">
    <%= t("submissions.show.description") %>
  </div>

  <div class="page-title-actions">
    <%= link_to(
      t("submissions.show.approve"),
      approve_submission_path(plan),
      method: :patch,
    ) %>
  </div>
</section>
