<section class="visibility solo-page">
  <div class="section-header">
    Hide <%= @visibility.person.name %>'s profile from patrol officers.
  </div>

  <div class="section-body">
    <%= simple_form_for @visibility, url: person_visibility_path(person_id: @visibility.person_id) do |f| %>
      <%= f.input :removal_notes, label: "Notes", required: true %>
      <%= f.submit %>
    <% end %>
  </div>

  <a class="section-body close-page" onclick="window.close()">Close</a>
</section>
