<div class="recently-viewed-plans">
  <h2>Response Plans</h2>

  <% @response_plans.each do |response_plan| %>
    <%= link_to response_plan_path(response_plan), class: "recently-viewed-plan" do %>
      <% unless response_plan.approved? %>
        <span class="needs-approval-banner">Needs Approval</span>
      <% end %>

      <%= image_tag response_plan.person.profile_image_url %>

      <div class="recently-viewed-plan-labels">
        <span class="recently-viewed-plan-name"><%= response_plan.person.display_name %></span>
        <span class="recently-viewed-plan-dob"><%= l response_plan.person.date_of_birth %></span>
      </div>
    <% end %>
  <% end %>
</div>
