.profile-behaviors {
  @include span-columns(4 of 4);

  @include media($medium-screen-up) {
    @include span-columns(4 of 8);
  }
}

.behavior {
  border-bottom: $base-border;
  border-bottom-style: dashed;
  margin-bottom: $tiny-spacing;
  overflow: hidden;
  padding-bottom: $tiny-spacing;

  &:last-child {
    border-bottom: 0;
  }
}

.behavior-name {
  @include span-columns(2.5 of 4);
  font-size: 0.8em;
}

.behavior-count {
  @include heavy-font;
  @include span-columns(1.5 of 4);
  margin-right: 0;
  text-align: right;
}

.behavior-frequency {
  @include light-font;
  color: $secondary-text-color;
  font-size: 0.8em;
}
