.chart {
  margin-bottom: $large-spacing;
}

.chart.collapsed {
  .chart-field:nth-child(n + 5) {
    display: none;
  }
}

.chart-field {
  @include fill-parent;
  margin-bottom: $small-spacing;
  overflow: hidden;
}

.chart-label {
  @include fill-parent;
  display: block;
  font-size: 0.8em;
}

.chart-bar-background {
  @include span-columns(2.5 of 4);
  background-color: lighten($action-color, 40%);
}

.chart-bar {
  background-color: $action-color;
  padding-left: 1px;
  height: 100%;
}

.chart-field-count {
  @include heavy-font;
  margin-right: 0;
}

.chart-field-frequency {
  @include light-font;
  color: $secondary-text-color;
  font-size: 0.8em;
}

.additional-bars-toggle {
  @include light-font;
  font-size: 0.8em;

  @include media($medium-screen-up) {
    @include shift(4 of 12);
  }
}

@include media($medium-screen-up) {
  .chart-label {
    @include span-columns(4 of 12);
    text-align: right;
  }

  .chart-bar-background {
    @include span-columns(4 of 12);
  }
}
