.section-body-filters {
  border-top: $base-border;

  h2 {
    display: inline-block;
    margin-bottom: $base-spacing;
  }

  .adjust-filters {
    font-size: 0.8em;
    margin-left: $small-spacing;
  }

  .filters {
    @include fill-parent;
  }

  .filter {
    @include tag;
    border-radius: 3em;
  }

  .filter-attribute {
    border-right: 1px solid $tag-text-color;
    padding: 0 $tiny-spacing;
  }

  .filter-value {
    @include heavy-font;
  }

  .filter-remove {
    @include icon-color($icon-color);
    vertical-align: sub;
    margin-left: $small-spacing;
  }
}
