.filters {
  margin: $base-spacing 0;
  font-size: 0.8em;

  h2 {
    margin-bottom: $small-spacing;
  }

  .filter {
    background-color: $tag-background-color;
    border-radius: 3em;
    border: $tag-outline;
    display: inline-block;
    margin-bottom: $small-spacing;
    margin-right: $small-spacing;
    padding: $tiny-spacing;
  }

  .filter-attribute {
    border-right: 1px solid $tag-text-color;
    padding: 0 $tiny-spacing;
  }

  .filter-value {
    @include heavy-font;
  }

  .filter-remove {
    @include icon-color($icon-color);
    vertical-align: sub;
    margin-left: $small-spacing;
  }
}
