.footer {
  background-color: $header-background-color;
  bottom: 0;
  box-shadow: $shadow-level-4;
  color: $header-font-color;
  font-size: 1rem;
  padding: $small-spacing;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.footer-content {
  margin: auto;
  width: $page-width;
}
