.form {
  margin: $base-spacing auto;
  width: $optimal-reading-width;

  &-subheading {
    @include heavy-font;
    font-size: 1.2em;
    text-transform: uppercase;
  }

  label {
    @include light-font;
  }

  input:not([type='checkbox']):not([type='radio']),
  select {
    width: $base-field-width;
  }

  textarea {
    height: 15em;
    width: $large-field-width;
  }

  .radio {
    display: block;

    label {
      padding: 0;
    }
  }

  label.radio_buttons {
    margin-bottom: $small-spacing;
  }

  .radio_buttons {
    margin-bottom: 0;

    .hint {
      margin-left: 0;
    }
  }

  input[type='radio'] {
    background-position-x: left;
    width: $base-spacing;
  }

  .remove_fields {
    clear: both;
    display: block;
  }

  .height-field .hint {
    display: none;
  }

  #response_plan_person_attributes_middle_initial {
    width: $tiny-field-width;
  }

  #response_plan_person_attributes_date_of_birth {
    width: $small-field-width;
  }

  #response_plan_person_attributes_location_address {
    width: $large-field-width;
  }

  .image-fields img {
    width: $small-field-width;
  }

  input[type="submit"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
