.header {
  @include heavy-font;
  background-color: $header-background-color;
  box-shadow: $shadow-level-4;
  color: $header-font-color;
  font-size: 1rem;
  height: $header-height;
  line-height: $header-height;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  &:hover {
    color: $header-font-color;
  }

  .header-content {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: $page-width;
  }

  .search-icon,
  .menu-icon {
    height: $header-height / 2;
    margin-left: $base-spacing;
    margin-top: $header-height / 4;
    width: $header-height / 2;
  }

  @include media($medium-screen-up) {
    .menu-icon {
      display: none;
    }

    .search-icon {
      margin-left: 0;
    }
  }

  .identity-name,
  .identity-dob {
    line-height: $header-height / 3;
  }

  .identity-name {
    margin-top: $header-height / 6;
  }

  .header-title {
    display: inline-block;
  }

  .header-actions {
    text-align: right;
    position: relative;
    display: inline-block;
    float: right;
  }

  .menu-collapsed {
    display: none;

    @include media($medium-screen-up) {
      display: block;
    }
  }

  .menu-collapsible {
    background-color: $header-background-color;
    float: left;
    left: 0;
    margin-top: $header-height;
    position: fixed;
    width: 100%;

    a {
      border-top: $base-border;
      color: $header-font-color;
      display: block;
      padding-right: 1.5em;
    }

    @include media($medium-screen-up) {
      left: auto;
      margin-top: 0;
      position: relative;
      width: auto;

      a {
        border-top: none;
        display: inline-block;
        line-height: 1;
        margin-right: $base-spacing;
        padding-right: none;
      }

      .change-theme {
        background-color: $change-theme-button-background-color;
        border-radius: 3px;
        border: 1px solid $change-theme-button-color;
        color: $change-theme-button-color;
        padding: $small-spacing;
      }
    }
  }
}
