.header {
  @include heavy-font;
  background-color: $header-background-color;
  box-shadow: $shadow-level-4;
  color: $header-font-color;
  font-size: 1rem;
  height: $header-height;
  line-height: $header-height;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  &:hover {
    color: $header-font-color;
  }

  .header-content {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: $page-width;
  }

  .search-icon,
  .menu-icon {
    height: $header-height / 2;
    margin-left: $base-spacing;
    margin-top: $header-height / 4;
    width: $header-height / 2;
  }

  .identity-name,
  .identity-dob {
    line-height: $header-height / 3;
  }

  .identity-name {
    margin-top: $header-height / 6;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .header-title {
    display: inline-block;
    width: 60%;
  }

  .header-title,
  .header-actions {
    height: $header-height;
  }

  .header-actions {
    text-align: right;
    position: relative;
    display: inline-block;
    float: right;
    width: 40%;
  }
}
