.incident {
  margin-bottom: $base-spacing;
}

.profile-incidents h2,
.incident-date {
  font-size: 1.2em;
}

.incident-full {
  &-date {
    color: $secondary-text-color;
  }

  &-go-number {
    @include heavy-font;
    margin: $base-spacing 0;
  }

  &-behaviors {
    margin-bottom: $base-spacing;
  }
}

.incident-behavior,
.incident-disposition,
.incident-narrative,
.incident-footer {
  font-size: 0.8em;
}

.incident-footer {
  @include heavy-font;
  text-transform: uppercase;
}

.incident-date {
  @include heavy-font;
}

.incident-behavior,
.incident-disposition {
  @include light-font;
  background-color: $tag-background-color;
  color: $tag-text-color;
  display: inline-block;
  margin-bottom: $tiny-spacing;
  padding: $tiny-spacing;
  white-space: nowrap;
  overflow: none;
  text-overflow: ellipsis;
}

.incident-disposition {
  @include heavy-font;
}

.incident-narrative {
  color: $secondary-text-color;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.incident-open-report {
  min-height: auto;
  padding: 0;
  position: relative;
}

.additional-incidents.collapsed {
  display: none;
}

@include media($medium-screen-up) {
  .incident,
  .additional-incidents-toggle {
    margin-left: 2 * $base-spacing;

    &::before {
      background-image: $bullet-background;
      background-repeat: no-repeat;
      background-size: $base-spacing;
      content: "";
      height: $base-spacing;
      left: 0;
      position: absolute;
      transform: translateY(0.2em);
      width: $base-spacing;
    }
  }

  .additional-incidents-toggle {
    display: block;

    &::before {
      left: $base-spacing;
    }
  }

  .section-body,
  .incidents-container {
    position: relative;
  }

  .incidents-container.collapsed {
    .incident:nth-child(n+4) {
      display: none;
    }
  }

  .incidents-container {
    padding-bottom: $tiny-spacing;

    &::before {
      $timeline-width: $tiny-spacing;
      background-color: $timeline-color;
      bottom: 0;
      content: "";
      position: absolute;
      top: 0;
      transform: translate($small-spacing - $timeline-width / 2, $small-spacing);
      width: $timeline-width;
    }
  }
}
