.secondary {
  @include light-font;
  color: $secondary-text-color;
  font-size: 0.8em;
}

.incident-count {
  text-align: center;

  .section-header {
    margin-bottom: 0;
  }
}

.urgent-incident-icon {
  height: 1em;
  margin-right: $small-spacing;
}

.recent-incident-count .incident-count-number {
  @include heavy-font;
  text-transform: capitalize;
}
