html, body {
  margin: 0;
  padding: 0;
  position: relative;
}

html {
  height: 100%;
}

body {
  font-family: $base-font-family;
  font-size: 22px;
  min-height: 100%;
  width: 100%;
  background-color: $body-background-color;
}

h1, h2, h3, h4, h5, h6 {
  @include heavy-font;
  margin: 0;
}

.main-content {
  transition: transform $base-duration $base-timing;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  overflow: scroll;
  bottom: 0;

  &:before {
    content: "";
    display: block;
    height: $header-height;
    position: relative;
  }
}

.content {
  @include outer-container($page-width);
  padding-top: $base-spacing * 1.5;
  padding-bottom: 4rem;
}

.left-column {
  @include media($large-screen-up) {
    @include span-columns(4 of 12);
  }
}

.right-column {
  @include omega;
  overflow: hidden;

  @include media($large-screen-up) {
    @include span-columns(8 of 12);
  }
}
