@mixin menu-width($width) {
  .menu {
    width: $width;
    transform: translateX($width);
  }

  .menu-active .footer,
  .menu-active .header,
  .menu-active .main-content {
    transform: translateX(-$width);
    transition: transform $base-duration $base-timing;
  }
}

.menu {
  margin-top: -$header-height;
  background-color: $menu-background-color;
  height: 100%;
  position: fixed;
  right: 0;
  transition: transform $base-duration $base-timing;
  z-index: 2;

  & > a,
  .menu-toggle {
    border-bottom: $base-border;
    color: $header-font-color;
    display: block;
    padding: $small-spacing $base-spacing;
  }

  .menu-toggle {
    text-align: center;
  }
}

.menu-active .menu {
  transform: translateX(0);
  box-shadow: $shadow-level-5;
}

@include menu-width(75vw);

@include media($medium-screen-up) {
  @include menu-width(25vw);
}

.change-theme {
  $padding-factor: 0.2;
  $padding: $padding-factor * 1em;
  $toggle-height: 1em + (2 * $padding);

  text-align: center;

  &-toggle {
    background-color: $toggle-background-color;
    border-radius: $toggle-height / 2;
    color: $toggle-unselected-text-color;
    display: inline;
    height: $toggle-height;
    overflow: hidden;
    padding: $padding / 2;

    .theme {
      height: 1em;
      padding: 0 0.3em;
    }

    .selected {
      background-color: $toggle-selected-background-color;
      border-radius: 0.6em;
      color: $toggle-selected-text-color;
      display: inline;
      overflow: hidden;
      box-shadow: $shadow-level-2;
    }
  }
}
