$menu-link-height: 3em;

.main-content {
  transition: transform $base-duration $base-timing;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

@mixin menu-width($width) {
  .menu {
    width: $width;
    transform: translateX($width);
  }

  .menu-active .main-content {
    transform: translateX(-$width);
  }

  .menu-active .header {
    -ms-transform: translateX(-$width);
  }
}

.menu {
  background-color: $menu-background-color;
  height: 100%;
  position: fixed;
  right: 0;
  transition: transform $base-duration $base-timing;

  a {
    border-bottom: $base-border;
    color: $header-font-color;
    display: block;
    height: $menu-link-height;
    line-height: $menu-link-height;
    padding: 0 $base-spacing;
  }
}

.menu-active .menu {
  transform: translateX(0);
  box-shadow: $shadow-level-5;
}

@include menu-width(75vw);

@include media($medium-screen-up) {
  @include menu-width(25vw);
}
