.officers {
  margin-bottom: $large-spacing;

  nav {
    margin-bottom: 0;
  }
}

.officers-title {
  margin-bottom: $small-spacing;
}

.officer-form-help-text {
  font-size: 0.8em;
}

.officers-description {
  @include light-font;
  font-size: 0.8rem;
  margin-top: -$small-spacing;
}

.officer.section-body {
  width: 100%;
  display: table-row;
}

.new_officer_search {
  font-size: 0.8rem;

  #officer_search_name {
    width: $small-field-width;
    margin-bottom: 0;
  }

  label {
    @include light-font;
  }

  label,
  input {
    margin-right: $base-spacing;
  }

  label,
  input,
  .officer_search_name {
    display: inline-block;
  }
}
