.officers {
  margin-bottom: $large-spacing;
}

.officers-title {
  margin-bottom: $tiny-spacing;
}

.officer.section-body {
  width: 100%;
  display: table-row;
}

.new_officer_search {
  #officer_search_name {
    width: $small-field-width;
    margin-bottom: 0;
  }

  label,
  input {
    margin-right: $base-spacing;
  }

  label,
  input,
  .officer_search_name {
    display: inline-block;
  }
}
