.page-title {
  padding: $base-spacing;

  &.section-notice {
    background-color: $notice-color;
  }

  .section-title,
  .page-title-action {
    @include span-columns(4 of 8);
  }

  .description {
    clear: both;
  }

  .page-title-action {
    text-align: right;
  }
}
