$header-height: 4em;
$highlight: blue;

.left-column {
  @include span-columns(8 of 12);
}

.right-column {
  @include span-columns(4 of 12);
  @include omega;
  background-color: #eee;
}

.header {
  height: $header-height;
  line-height: $header-height;

  .right-column {
    background-color: #fff;
  }

  img {
    max-height: $header-height;
    vertical-align: middle;
    margin-right: $base-spacing;
  }

  .right-column {
    text-align: right;
    text-transform: uppercase;
  }

  .red {
    color: red;
    font-weight: bold;
    margin-right: $base-spacing;
  }
}

h1 {
  @include fill-parent;
  text-align: center;
  color: $highlight;
}

h2 {
  color: $highlight;
  font-family: "Museo Slab";
}

section {
  margin-top: $base-spacing;
  overflow: hidden;
}

.basic_info {
  overflow: hidden;

  img {
    @include span-columns(5 of 8);
  }

  .biometrics {
    @include span-columns(3 of 8);

    .stat {
      overflow: hidden;
      border-bottom: 1px solid lightgrey;
      padding: 0.25em 0;

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        border-bottom: none;
      }

      .stat__label {
        padding-left: $base-spacing;
        display: block;
        font-weight: bold;
        @include span-columns(2 of 4);
      }

      .stat__data {
        margin: 0;
        @include span-columns(2 of 4);
        @include omega;
        color: $highlight;
      }
    }

    dt:after {
      content: ":"
    }
  }
}

p {
  font-size: 0.8em;
}

.response_plan {
  ol {
    font-size: 0.8em;
  }
}

.interaction_history {
  .date,
  .time{
    font-weight: bold;
  }

  .time {
    margin-left: $base-spacing;
  }
}

.main {
  overflow: hidden;
}

.footer {
  @include row;
  @include fill-parent;
  font-size: 0.8em;
  margin: $base-spacing 0;

  .third {
    @include span-columns(4 of 12);
  }

  .label {
    vertical-align: top;
    font-weight: bold;
  }

  .data {
    display: inline-block;
    padding-left: $base-spacing;
  }

  .row {
    @include row;
  }
}
