.people {
  @include card;
}

.person {
  color: $base-font-color;
  padding: $base-spacing;
  position: relative;
  overflow: hidden;

  &:hover {
    transform: translateY(-1px);
    box-shadow: $shadow-level-1;
  }
}

.person-name,
.person-dob {
  display: block;
  font-weight: 100;
}

.person-name {
  @include heavy-font;
  font-size: 1.2em;
}

.person-dob {
  @include light-font;
}

.person-incident-count {
  text-align: right;
}

.person-top-behavior-text {
  @include tag;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.person-links {
  overflow: hidden;
  text-align: right;

  a {
    @include button($card-background, $action-color);
    border: 0;
    margin-right: $base-spacing;
    padding: 0;
    text-transform: uppercase;

    &:last-child {
      margin-right: 0;
    }
  }

  .person-link-plan {
    @include button($action-color, $card-background);
  }
}

@include media($medium-screen-up) {
  .person {
    @include fill-parent;
  }

  img {
    @include span-columns(2 of 12);
  }

  .person-information {
    @include span-columns(10 of 12);
  }

  .person-name {
    @include fill-parent;
    @include omega;
  }

  .person-information-profile {
    @include span-columns(3 of 10);
  }

  .person-top-behavior {
    @include span-columns(4 of 10);
  }

  .person-incident-count {
    @include shift(4);
    @include span-columns(3 of 10);
    @include omega;
  }

  .person-top-behavior + .person-incident-count {
    @include shift(0);
  }

  .person-links {
    @include fill-parent;
  }
}
