.person {
  @include card;
  color: $base-font-color;
  padding: $base-spacing;
  position: relative;
}

.person-information-profile .identity {
  margin-bottom: 0;
}

.person-incident-count {
  text-align: right;
}

.person-links {
  overflow: hidden;
  text-align: right;

  a {
    @include button($card-background, $action-color);
    margin-right: $base-spacing;

    &:last-child {
      margin-right: 0;
    }
  }

  .person-link-plan {
    @include button($action-color, $card-background);
  }
}

@include media($medium-screen-up) {
  .person {
    @include shift(1);
    @include span-columns(10 of 12);
  }

  img {
    @include span-columns(2 of 10);
  }

  .person-information {
    @include span-columns(8 of 10);
  }

  .person-information-profile {
    @include span-columns(4 of 8);
  }

  .person-incident-count {
    @include span-columns(3 of 8);
    @include shift(1);
    @include omega;
  }

  .person-links {
    @include fill-parent;
  }
}
