.profiles {
  margin-bottom: $large-spacing;

  nav {
    margin-bottom: 0;
  }
}

.profiles-title {
  margin-bottom: $tiny-spacing;
}

.profile.section-body {
  width: 100%;
  display: table-row;
}

.profile-visibility {
  color: $red;

  &-visible {
    color: $green;
  }
}

.profiles-controls .new_search {
  #search_name {
    width: $small-field-width;
    margin-bottom: 0;
  }

  label,
  input {
    margin-right: $base-spacing;
  }

  label,
  input,
  .search_name {
    display: inline-block;
  }
}
