.response-strategy {
  display: inline-block;
  position: relative;

  &:before {
    background-image: $bullet-background;
    background-repeat: no-repeat;
    background-size: 2em 2em;
    color: $card-background;
    content: counter(response-strategy-counter);
    counter-increment: response-strategy-counter;
    font-size: 1rem;
    height: 2em;
    left: 0;
    line-height: 2em;
    position: absolute;
    text-align: center;
    width: 2em;
  }

  h3 {
    @include heavy-font;
    font-size: 1.2em;
    margin-bottom: $small-spacing;
    margin-left: $bullet-size;
  }

  p {
    color: $secondary-text-color;
  }

  .expand:after {
    $arrow-size: 1.6em;
    background-image: $arrow_up;
    background-size: contain;
    content: "";
    display: inline-block;
    height: $arrow-size;
    vertical-align: middle;
    width: $arrow-size;
  }
}

.mobile-collapsed {
  .expand::after {
    background-image: $arrow_down;
  }

  p {
    max-height: 3em;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;

    &::after {
      background-image: linear-gradient($transparent, $card-background);
      bottom: 0;
      content: "";
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

@include media($medium-screen-up) {
  .response-strategy {
    .mobile-collapsed {
      p {
        margin-left: $bullet-size;
        max-height: 100%;
      }

      p::after {
        display: none;
      }

      .expand {
        display: none;
      }
    }
  }
}
