$radius: 6px;

.safety-warnings {
  li {
    margin-bottom: $small-spacing;
  }
}

.response-plan {
  @include span-columns(8 of 8);

  ol {
    padding-left: 1em;
  }

  li {
    font-size: 1.2em;
    font-weight: 700;
  }

  p {
    font-size:22px;
    font-weight:400;
    color: rgba(0, 0, 0, 0.54);
    margin-bottom: $base-spacing;
  }
}
