$radius: 6px;

.safety-warnings {
  li {
    margin-bottom: $small-spacing;
  }
}

.response-plan {
  @include span-columns(8 of 8);
  counter-reset: response-strategy-counter;

  .response-strategy {
    $bullet-size: 3rem;

    @include fill-parent;
    margin-top: $base-spacing;
    margin-left: $bullet-size;
    display: inline-block;
    position: relative;

    &:before {
      background-image: $bullet-background;
      background-repeat: no-repeat;
      background-size: 2em 2em;
      color: $section-body-background;
      content: counter(response-strategy-counter);
      counter-increment: response-strategy-counter;
      font-size: 1rem;
      height: 2em;
      left: - $bullet-size;
      line-height: 2em;
      position: absolute;
      text-align: center;
      width: 2em;
    }

    h3 {
      @include heavy-font;
      font-size: 1.2em;
    }

    p {
      color: $response-plan-body-color;
      margin-bottom: $base-spacing;
    }
  }
}
