.response_plan_form {
  & > * > label {
    @include span-columns(2 of 12);
  }

  textarea {
    height: 10em;
  }

  & > .input {
    @include fill-parent;
    overflow: hidden;

    input,
    select,
    textarea {
      @include span-columns(6 of 12);
    }
  }

  .nested-form {
    @include fill-parent;
    overflow: hidden;
  }

  .nested-field-container {
    @include span-columns(8 of 12);
    margin-bottom: $base-spacing;

    .input {
      @include span-columns(6 of 8);
      margin-bottom: 0;
    }

    .remove_fields {
      vertical-align: sub;
    }
  }

  .nested-fields {
    overflow: hidden;

    .collection_input_set {
      margin-bottom: $small-spacing;

      .radio {
        @include fill-parent;
        display: block;
        overflow: hidden;
      }

      label.radio_buttons {
        @include fill-parent;
      }

      input[type="radio"] {
        @include span-columns(1 of 8);
        height: $base-spacing;
      }

      .category-label {
        @include span-columns(7 of 8);
        float: none;
        overflow: hidden;
        margin-bottom: $small-spacing;
      }

      .category-title,
      .category-subtitle {
        @include fill-parent;
        display: block;
      }

      .category-subtitle {
        @include light-font;
      }

      .category-example {
        font-style: italic;
      }
    }
  }

  .multi-field .nested-fields {
    border-top: $base-border;
    padding-top: $small-spacing;

    &:not(:first-child) {
      margin-top: $small-spacing;
    }
  }

  .image-fields img {
    @include span-columns(4 of 6);
    margin-bottom: $small-spacing;
  }

  input[type="submit"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .response_plan_safety_concerns_physical_or_threat label {
    text-transform: capitalize;
  }

  .safety_concern-fields {
    .input,
    .remove_fields {
      @include fill-parent;
    }
  }
}
