.search {
  overflow: hidden;
  margin-bottom: $base-spacing;

  h1 {
    margin-bottom: $base-spacing;
    font-size: 1.6em;
  }

  label {
    @include span-columns(2 of 8);
    text-align: right;
    font-weight: 400;
  }

  input {
    @include span-columns(6 of 8);
    @include omega;
  }

  .field_with_errors input {
    margin-bottom: 0;
    border-radius: $base-border-radius $base-border-radius 0 0;
  }

  .error {
    @include omega;
    @include shift(2);
    @include span-columns(6 of 8);
    background-color: $red;
    border-radius: 0 0 $base-border-radius $base-border-radius;
    color: $white;
    margin-bottom: $base-spacing;
    padding: 0 $small-spacing;
  }

  input[type="submit"] {
    @include span-columns(3 of 4);
    @include shift(1);
    padding: $base-spacing;
  }

  @include media($medium-screen-up) {
    .actions {
      @include span-columns(4 of 12);
    }

    .fields {
      @include span-columns(8 of 12);
    }
  }
}

.search-results {
  margin-top: $base-spacing;

  h2 {
    font-size: 1.6em;
    margin-bottom: $base-spacing;
  }
}


.search-result {
  @include span-columns(4 of 4);

  .search-result-labels {
    width: 55%;
    float: right;
    overflow: hidden;

    @include media($medium-screen-up) {
      width: auto;
      float: none;
    }
  }

  @include media($medium-screen-up) {
    @include span-columns(2 of 8);

    &:nth-of-type(4n) {
      @include omega;
    }

    &:nth-of-type(4n+1) {
      clear: left;
    }
  }

  @include media($large-screen-up) {
    @include span-columns(3 of 12);
  }

  margin-bottom: $base-spacing;

  img {
    border: $dark-border;
    height: 6em;
    margin: 0;
    max-width: 40%;

    @include media($medium-screen-up) {
      display: block;
      height: 8em;
      margin-bottom: $small-spacing;
      margin-left: auto;
      margin-right: auto;
      max-width: none;
    }
  }

  .search-result-name,
  .search-result-dob {
    color: $base-font-color;
    display: block;

    @include media($medium-screen-up) {
      text-align: center;
    }
  }

  .search-result-name {
    font-weight: 600;
    text-transform: uppercase;
  }
}
