.search-result {
  @include row;
  color: $base-font-color;
  border-bottom: $base-border;

  img {
    @include span-columns(1 of 4);
    padding: $small-spacing;
  }

  .identity {
    margin-bottom: 0;
  }

  .search-result-info {
    @include span-columns(3 of 4);
    @include omega;
    padding-top: $small-spacing;
  }

  @include media($medium-screen-up) {
    img {
      @include span-columns(3 of 12);
      margin-top: 0;
    }

    .search_result-info {
      @include span-columns(6 of 12);
      padding-top: $small-spacing;
    }
  }
}
