.search {
  h1 {
    margin-bottom: $base-spacing;
  }

  label {
    @include light-font;
  }

  .physicals-search-fields.collapsed {
    display: none;
  }

  .hair-color-field.collapsed,
  .eye-color-field.collapsed {
    .checkbox:nth-child(n + 5) {
      display: none;
    }
  }

  .toggle-physicals-search,
  .toggle-hair-options,
  .toggle-eye-options {
    display: block;
    font-size: 0.8em;
  }

  .toggle-hair-options,
  .toggle-eye-options {
    margin-top: -$base-spacing;
    margin-bottom: $base-spacing;
  }

  input[type="number"] {
    display: inline-block;
    width: $tiny-field-width
  }

  .actions input[type='submit'] {
    @include fill-parent;
  }

  .physicals-search-fields {
    input[type="checkbox"] {
      display:none;
    }

    input[type="checkbox"] + label {
      @include light-font;
      border: $base-border;
      box-shadow: $shadow-level-1;
      margin-bottom: $small-spacing;
      margin-right: $base-spacing;
      padding: $field-padding;
      text-transform: capitalize;
    }

    input[type="checkbox"]:checked + label {
      background-color: $action-color;
      color: $button-font-color;
    }
  }

  @include media($medium-screen-up) {
    .input {
      overflow: hidden;
    }

    .input > label {
      text-align: right;
    }

    .basic-search-fields {
      @include span-columns(8 of 12);

      label {
        @include span-columns(2 of 8);
      }

      input[type='text'] {
        @include span-columns(6 of 8);
        float: none;
      }

      .error {
        @include span-columns(6 of 8);
        float: right;
      }

      .input {
        margin-bottom: 0;
      }

      .search_visible input {
        @include span-columns(2 of 8);
      }

      .search_visible label {
        @include span-columns(6 of 8);
        text-align: left;
      }
    }

    .search_date_of_birth {
      white-space: nowrap;
      overflow: visible;
    }

    .actions {
      @include span-columns(4 of 12);
      @include omega;
    }

    .physicals-search-fields {
      @include fill-parent;
      clear: both;
      padding-top: $base-spacing;

      label {
        @include heavy-font;
      }

      .collection_input_set {
        @include span-columns(10 of 12);
      }

      .input > label {
        @include span-columns(2 of 12);
      }

      input[type='text'] {
        @include span-columns(2 of 12);
      }

      input[type="submit"] {
        @include span-columns(4 of 12);
        @include shift(4);
      }
    }

    .search_eye_color,
    .search_hair_color {
      overflow: visible;

      .collection_input_set {
        max-width: 60%;
        width: auto;
      }
    }

    .toggle-hair-options,
    .toggle-eye-options {
      display: inline-block;
    }

    .hair-color-field,
    .eye-color-field {
      overflow: hidden;
      margin-bottom: $base-spacing;
    }
  }
}

.toggle-physicals-search {
  @include span-columns(10 of 12);
  @include shift(2);
  text-transform: uppercase;
  padding: $base-spacing 0 $small-spacing 0;
}

