$icon-size: $large-spacing;

section {
  @include fill-parent;
  @include card;

  .section-header {
    align-items: center;
    padding: $small-spacing $base-spacing;
    width: 100%;
  }

  .section-header-blue {
    @include icon-color($section-header-font-color);
    background-color: $section-header-color;
    color: $section-header-font-color;
  }

  .section-header-blue-inverted {
    @include icon-color($blue);
    background-color: $card-background;
    color: $blue;
  }

  .section-header-yellow {
    @include icon-color($base-font-color);
    background-color: $yellow;
    color: $base-font-color;
  }

  .section-header-grey {
    background-color: $medium-gray;
  }

  .section-body {
    display: block;
    padding: $small-spacing $base-spacing;
    overflow: hidden;

    &:not(last-child) {
      border-bottom: $base-border;
    }
  }

  .section-icon {
    height: $icon-size;
    width: $icon-size;
    margin-right: $small-spacing;
  }

  .section-header-text {
    display: inline-block;
    font-weight: normal;
    line-height: 1;
    margin-bottom: 0;
  }

  .section-title {
    font-size: 1.2em;
    font-weight: 600;
  }

  .section-header-muted {
    background-color: $card-background;
    color: $secondary-text-color;
    padding-bottom: 0;
    @include light-font;

    .section-title {
      font-size: 1em;
      font-weight: normal;
    }
  }

  .section-header-transparent {
    background-color: $card-background;
    color: $base-font-color;
  }

  .section-body-empty {
    a,
    span {
      display: block;
      margin-bottom: $tiny-spacing;
      text-align: center;
    }

    span {
      @include light-font;
    }

    a {
      font-size: 0.8em;
      text-transform: uppercase;
      margin-top: $base-spacing;
    }
  }
}
