$icon-size: 2.5rem;

section {
  @include fill-parent;
  background-color: $section-body-background;
  border-radius: 2px;
  margin-bottom: $base-spacing;
  overflow: hidden;
  box-shadow: $shadow-level-2;

  .section-header {
    background-color: $section-header-color;
    display: flex;
    padding: $small-spacing;
    align-items: center;
  }

  .section-body {
    padding: $small-spacing $base-spacing;
    overflow: hidden;
  }

  .section-icon {
    height: $icon-size;
    width: $icon-size;
  }

  .section-header-text {
    color: $section-header-font-color;
    font-weight: normal;
    line-height: 1;
    margin-bottom: 0;
    margin-left: $small-spacing;
  }

  .section-title {
    font-size: 1.6em;
    font-weight: 600;
    margin: 0;
  }

  .section-description {
    font-size: 0.8em;
  }
}
