$icon-size: 2.5rem;

section {
  @include fill-parent;
  @include card;

  .section-header {
    @include icon-color($section-header-font-color);
    align-items: center;
    background-color: $section-header-color;
    color: $section-header-font-color;
    display: flex;
    padding: $small-spacing;
    width: 100%;
  }

  .section-header-grey {
    background-color: $medium-gray;
  }

  .section-body {
    display: block;
    padding: $small-spacing $base-spacing;
    overflow: hidden;
  }

  .section-icon {
    height: $icon-size;
    width: $icon-size;
  }

  .section-header-text {
    display: inline-block;
    font-weight: normal;
    line-height: 1;
    margin-bottom: 0;
    margin-left: $small-spacing;
    width: 100%;
  }

  .section-title {
    font-size: 1.2em;
    font-weight: 600;
  }

  .section-header-muted {
    background-color: $card-background;
    color: $secondary-text-color;
    padding-bottom: 0;
    @include light-font;

    .section-title {
      font-size: 1em;
      font-weight: normal;
    }
  }

  .section-header-transparent {
    background-color: $card-background;
    color: $base-font-color;
  }
}
