@charset "utf-8";

@import "normalize-rails";
@import "bourbon";
@import "base/grid-settings";
@import "neat";
@import "base/base";
@import "refills/flashes";

@import "layout";
@import "header";
@import "footer";
@import "search";
@import "section";
@import "response_plans";
@import "feedbacks";

@import "response_plan/*";

html, body {
  margin: 0;
  padding: 0;
  position: relative;
}

html {
  height: 100%;
}

body {
  font-family: $base-font-family;
  font-size: 22px;
  min-height: 100%;
  width: 100%;
  background-color: #f0f0f0;
}

h1, h2, h3, h4, h5, h6 {
  @include heavy-font;
  margin: 0;
}

.content {
  @include outer-container($page-width);
  padding-top: $header-height + $base-spacing * 1.5;
  padding-bottom: 4rem;
}
