@charset "utf-8";

@import "normalize-rails";
@import "bourbon";
@import "base/grid-settings";
@import "neat";
@import "base/base";
@import "refills/flashes";

@import "chartist.min";

@import "layout";
@import "header";
@import "section";
@import "people";

body {
  font-family: $base-font-family;
  font-size: 20px;
  width: 100%;
  background-color: #f0f0f0;
}

h1, h2, h3, h4, h5, h6 {
  @include heavy-font;
  margin: 0;
}

.chart-title {
  margin-bottom: 0;
  margin-top: $base-spacing;
  padding-left: $base-spacing;
}

.ct-label.ct-horizontal {
  transform: translateX(-12px);
}

.ct-label {
  color: $dark-gray;
}

.no-data {
  display: block;
  padding-left: 3*$base-spacing;
  margin-top: $base-spacing;
}

.ct-series-a .ct-bar {
  stroke: $highlight;
}

.content {
  @include outer-container($page-width);
  margin-top: $header-height + $base-spacing * 1.5;
}

