.profile-deescalation {
  ul {
    list-style: outside;
    padding-left: $base-spacing;
  }

  li {
    margin-bottom: $tiny-spacing;
  }

  @include media($medium-screen-up) {
    .deescalation-specific,
    .deescalation-general {
      border-bottom: 0;
      display: inline-block;
      float: left;
      max-width: 50%
    }

    .deescalation-specific {
      border-right: $base-border;
    }

    .deescalation-general {
      border-left: $base-border;
    }
  }
}
