.profile-deescalation {
  ul {
    list-style: outside;
    padding-left: $base-spacing;
  }

  li {
    margin-bottom: $tiny-spacing;
  }

  .deescalation-veteran {
    margin: $small-spacing 0;

    &-icon {
      vertical-align: bottom;
    }
  }

  @include media($medium-screen-up) {
    .deescalation-specific,
    .deescalation-general {
      border-bottom: 0;
      display: inline-block;
      float: left;
      width: 50%
    }

    .deescalation-specific {
      border-right: $base-border;
    }

    .deescalation-general {
      border-left: $base-border;
    }
  }
}
