.profile-deescalation {
  ul {
    list-style: outside;
    padding-left: $base-spacing;
  }

  li {
    margin-bottom: $tiny-spacing;
  }

  @include media($medium-screen-up) {
    display: flex;
    flex-flow: row wrap;

    .section-header {
      flex: 0 0 100%;
    }

    .deescalation-specific,
    .deescalation-general {
      flex: 0 0 50%;
    }

    .deescalation-specific {
      border-right: $base-border;
    }
  }
}
