@charset "utf-8";

@import "normalize-rails";
@import "bourbon";
@import "base/grid-settings";
@import "neat";
@import "base/base";
@import "refills/flashes";

body {
  font-size: 8px;
}

.ct-chart {
  transform: scale(0.5) translate(-70px, -30px);
  left: 0;
  height: 8em;
}

.ct-grid {
  display: none;
}

.ct-label.ct-horizontal {
  display: none;
}

.stat__label {
  padding-left: 0 !important;
}
