<div class="chart <%= category %> collapsed">
  <% incidents.by_frequency(category).each do |field, occurrences| %>
    <%= render(
      "application/chart_bar",
      category: category,
      field: field,
      occurrences: occurrences,
      incident_count: incidents.count,
    ) %>
  <% end %>

  <% if incidents.by_frequency(category).count > 4 %>
    <a
       href="#"
       class="toggle additional-bars-toggle"
       data-toggle-target=".chart.<%=category%>"
       data-toggle-text="Show less"
       >
       Show more
    </a>
  <% end %>
</div>
