<% if flash.any? || demo_mode? %>
  <div class="flashes">
    <% if demo_mode? %>
      <%= render "demo_notice" %>
    <% end %>

    <% user_facing_flashes.each do |key, value| -%>
      <div class="flash-<%= key %>"><%= value.html_safe %></div>
    <% end -%>
  </div>
<% end %>
