<%= link_to response_plans_path, class: "header" do %>
  <div class="header-content">
    <span class="header-title"><%= content_for(:header) %></span>

    <%= image_tag "hamburger_menu.svg", class: "header-icon" %>
  </div>
<% end %>
