<div class="identity">
  <span class="identity-name">
    <%= response_plan.last_name.upcase %>,
    <%= response_plan.first_name.titleize %>
  </span>
  <span class="identity-dob">
    <%= l response_plan.date_of_birth %>
  </span>
</div>
