<div class="identity">
  <span class="identity-name">
    <%= person.last_name.to_s.upcase %>,
    <%= person.first_name.to_s.titleize %>
    <%= person.middle_initial.to_s.titleize %>
  </span>

  <% if person.date_of_birth %>
    <span class="identity-dob">
      <%= l person.date_of_birth %>
    </span>
  <% end %>
</div>
