<div class="identity">
  <span class="identity-name">
    <%= person.last_name.upcase %>,
    <%= person.first_name.titleize %>
  </span>
  <span class="identity-dob">
    <%= l person.date_of_birth %>
  </span>
</div>
