<%# Variables:
  key: a unique identifier
  link: text for the modal activation link

  This partial also takes a block, which it renders into the modal.
%>

<a href="#" class="modal-open" data-modal-target="#modal-<%= key %>">
  <%= link %>
</a>

<div class="modal" id="modal-<%= key %>">
  <div class="modal-foreground">
    <div class="modal-contents">
      <%= yield %>
    </div>

    <a href="#" class="modal-close">Close</a>
  </div>
</div>
