<section class="past-year-incident-count">
  <div class="section-body">
    <span class="incident-count">
      <%= pluralize(person.recent_incidents.count, "crisis call") %>
    </span>

    <span class="secondary">
      (in the past year)
    </span>
  </div>
</section>
