<section class="incident-count recent-incident-count">
  <div class="section-body">
    <span class="incident-count-number">
      <%= pluralize(person.recent_incidents.count, "crisis call") %>
    </span>

    <span class="secondary">
      (in the last year)
    </span>
  </div>
</section>
