<section class="page-title">
  <div class="section-header section-header-muted">
    <div class="section-header-text">
      <span class="section-title">
        <%= t("profile.actions.title") %>
      </span>
    </div>
  </div>

  <div class="section-body">
    <%= render "actions", plan: plan, person: person %>
  </div>
</section>
