<section class="solo-page suggestion">
  <a class="close-page" onclick="window.close()">Close</a>

  <div class="section-body">
    <h1>
      <%= t("suggestions.show.title") %>
    </h1>

    <div class="suggestion-person">
      <%= @suggestion.person.display_name %>
    </div>

    <div class="suggestion-body">
      <%= @suggestion.body %>
    </div>
  </div>

  <a class="close-page" onclick="window.close()">Close</a>
</section>
