<div class="description">
  <%= t("drafts.show.description") %>
</div>

<div class="page-title-actions">
  <%= link_to t("drafts.show.edit"), edit_draft_path(plan) %>
  <br/>
  or
  <strong>
    <%= link_to(
      t("drafts.show.submit"),
      submissions_path(response_plan_id: plan),
      method: :post,
    ) %>
  </strong>
</div>
