<section class="page-title section-notice">
  <h1 class="section-title">
    <%= t("response_plans.draft.title") %>
  </h1>

  <div class="description">
    <%= t("response_plans.draft.description") %>
  </div>

  <div class="page-title-actions">
    <%= link_to t("response_plans.draft.edit"), edit_response_plan_path(draft) %>
    or
    <strong>
      <%= link_to(
        t("response_plans.draft.submit"),
        submissions_path(response_plan_id: draft),
        method: :post,
      ) %>
    </strong>
  </div>
</section>
