// Colors
$blue: #0096a6;
$red: #d23a0a;
$dark-gray: #4a4a4a;
$medium-gray: #9b9b9b;
$light-gray: #ddd;
$yellow: #e8c925;
$white: #ffffff;
$off-white: #f0f0f0;

// Background Colors
$base-background-color: $white;
$body-background-color: $off-white;

// Header & Footer
$header-font-color: $white;
$header-background-color: $dark-gray;
$menu-background-color: $header-background-color;
$change-theme-button-background-color: $header-background-color;
$change-theme-button-color: $header-font-color;

// Toggle
$toggle-selected-background-color: $blue;
$toggle-selected-text-color: $white;
$toggle-unselected-text-color: $medium-gray;
$toggle-background-color: $white;

// Sections
$section-header-font-color: $white;
$section-header-color: $blue;
$secondary-section-header-background: $medium-gray;
$safety-section-header-background: $red;
$section-body-background: $white;

// Actions
$action-color: $blue;
$button-font-color: $white;
$link-active-color: shade($action-color, 25%);

// Font Colors
$base-font-color: $dark-gray;
$secondary-text-color: rgba(0, 0, 0, 0.54);
$contact-notes-color: $secondary-text-color;

// Icons
$bullet-background: url("/assets/circle.svg");
$zoom_in_image: url("zoom_in-day.svg");
$zoom_out_image: url("zoom_out-day.svg");
$arrow_up: url("arrow_up-day.svg");
$arrow_down: url("arrow_down-day.svg");

// Borders
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;
$dark-border: 1px solid $dark-gray;
$selected-border: 3px solid $blue;
$field-hover-border-color: shade($base-border-color, 20%);
$table-header-border-color: shade($base-border-color, 25%);

// Forms
$disabled-field-background-color: shade($base-background-color, 5%);
$fieldset-background-color: tint($base-border-color, 75%);
$field-background-color: $white;
$field-text-color: $dark-gray;

// Flashes & Notices
$needs-approval-background-color: $yellow;
$needs_approval-text-color: $base-font-color;
