// Colors
$blue: #1976d2;
$dark-blue: #0026ff;
$red: #d23a0a;
$dark-gray: #4a4a4a;
$medium-gray: #9b9b9b;
$light-gray: #ddd;
$yellow: #ffc107;
$white: #ffffff;
$off-white: #f0f0f0;

// Background Colors
$base-background-color: $white;
$body-background-color: $off-white;

// Header
$header-font-color: $white;
$header-background-color: $dark-gray;
$menu-background-color: lighten($header-background-color, 10%);
$change-theme-button-background-color: $header-background-color;
$change-theme-button-color: $header-font-color;

// Toggle
$toggle-selected-background-color: $blue;
$toggle-selected-text-color: $white;
$toggle-unselected-text-color: $medium-gray;
$toggle-background-color: $white;

// Sections
$section-header-font-color: $white;
$section-header-color: $blue;
$secondary-section-header-background: $medium-gray;
$safety-section-header-background: $red;
$card-background: $white;
$deescalation-section-header-color: $dark-blue;
$trigger-section-header-color: $red;

// Actions
$action-color: $blue;
$button-font-color: $white;
$link-active-color: shade($action-color, 25%);

// Font Colors
$base-font-color: $dark-gray;
$secondary-text-color: rgba(0, 0, 0, 0.54);
$contact-notes-color: $secondary-text-color;

// Icons
$icon-color: $dark-gray;
$bullet-background: image_url("circle-day.svg");
$zoom_in_image: image_url("zoom_in-day.svg");
$zoom_out_image: image_url("zoom_out-day.svg");
$arrow_up: image_url("arrow_up-day.svg");
$arrow_down: image_url("arrow_down-day.svg");

// Borders
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;
$dashed-border: 1px dashed $base-border-color;
$dark-border: 1px solid $dark-gray;
$selected-border: 3px solid $blue;
$field-hover-border-color: shade($base-border-color, 20%);
$table-header-border-color: shade($base-border-color, 25%);

// Forms
$disabled-field-background-color: $body-background-color;
$fieldset-background-color: tint($base-border-color, 75%);
$field-background-color: $white;
$field-text-color: $dark-gray;

// Tags
$tag-background-color: $light-gray;
$tag-text-color: $dark-gray;
$tag-outline: none;

// Flashes & Notices
$notice-color: $yellow;
$needs-approval-background-color: $notice-color;
$needs_approval-text-color: $base-font-color;

// Timeline
$timeline-color: $dark-gray;

// Floating Action Button
$fab-background-color: $action-color;
$fab-icon-color: $white;
$fab-callout-background-color: $dark-gray;
$fab-callout-text-color: $white;
